body{
    background-color:#008E00;
  }
  
  section h3{
    text-align:center;
    font-family: 'Baloo'
  }
  
  article{
    text-align:center;
    
  }
  
  .quote{
    text-align:center;
    font-family: 'Amatic SC';
    font-size:3rem;
    color:white;
    padding:0 10%;
  }
  
  .quoteInfo{
    text-align:center;
    font-family: 'Yatra one';
     color:navy;
  }
  
  #quoteButton{
    border:none;
    background-color:salmon;
    color:purple;
    font-size:1.3rem;
    font-family: 'Yatra one'
  }

  a{
    text-decoration: none;
    background-color:salmon;
    color:purple;
    font-size:1.3rem;
    font-family: 'Yatra one';
  }
  